@use 'sass:color';
@use './variables.scss' as *;

// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: $font-weight-bold;
  line-height: 1.2;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: $transition-base;

  &:hover {
    color: color.adjust($primary-color, $lightness: -10%);
  }
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}
